<section class="welcome-area">
    <div class="welcome-bg" data-bg="assets/images/photos/welcome.jpg"></div>
    <div class="welcome-content">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 offset-md-2 col-lg-6 col-md-8 col-sm-12">
                    <h1>{{.heading}}</h1>
                    <p>{{.text}}</p>
                    <a class="btn-white-line" href="#">{{.button}}</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="welcome-apps">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="apps">
                    <a href="green-app-single.html" class="app-item">
                        <div class="icon">
                            <img src="assets/images/icons/apps/1.png" class="img-fluid" alt="">
                        </div>
                    </a>
                    <a href="green-app-single.html" class="app-item">
                        <div class="icon">
                            <img src="assets/images/icons/apps/2.png" class="img-fluid" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
