<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="main-nav">
                    <a href="green-index.html" class="logo">
                        <img src="assets/images/green-logo-white.svg" class="light-logo" alt="Gaus"/>
                        <img src="assets/images/green-logo-dark.svg" class="dark-logo" alt="Gaus"/>
                    </a>
                    <ul class="nav">
                        <li><a href="/">HOME</a></li>
                        <li><a href="/archive-management">ARCHIVE MANAGEMENT</a></li>
                        <li><a href="/data-entry-processing">DATA PROCESSING</a></li>
                        <li><a href="/post">BLOG</a></li>
                        <li><a href="/careers">CAREERS</a></li>
                        <li><a href="/contact" class="btn-nav-line">CONTACT</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>
